@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>应用商店</title>
    <script src="~/Scripts/jquery-1.8.0.min.js"></script>
    <script src="~/Scripts/jquery.easyui.min.js"></script>
    <script src="~/Scripts/easyui-lang-zh_CN.js"></script>
    <link rel="stylesheet" href="~/Content/themes/default/easyui.css"/>
    <link href="~/Content/themes/icon.css" rel="stylesheet" />
    <link href="~/Content/default.css" rel="stylesheet" />

    <script type="text/javascript">
        var _menus = {
            "menus": [
                {
                    "menuid": "1", "menuname": "应用",
                    "l_menus": [{ "menuname": "热门" },
                        { "menuname": "推荐" },
                        { "menuname": "合集" },
                        { "menuname": "教育" },
                        { "menuname": "商业工具" },
                        { "menuname": "社交通讯" },
                        { "menuname": "生活时尚" }
                    ]
                }, {
                    "menuid": "2", "menuname": "扩展程序",
                    "l_menus": [{ "menuname": "博客" },
                        { "menuname": "购物" },
                        { "menuname": "辅助功能" },
                        { "menuname": "开发者工具" }

                    ]
                }, {
                    "menuid": "3", "menuname": "主题背景",
                    "l_menus": [{ "menuname": "Google产品" },
                        { "menuname": "艺术家作品" }
                    ]
                }
            ]
        };
        var text = "";
        $(function click1() {
            $.each(_menus.menus, function (i, n) {
                $.each(n.l_menus, function (j, o) { text += "<li><div><a href='#'><span class='icon icon-nav' ></span>" + o.menuname + "</a></div></li>"; })
                $('.easyui-accordion').accordion('add', {
                    title: n.menuname,
                    iconCls: 'icon-sys',
                    content: "<ul>" + text + "<ul>",
                    selected: false
                });
                text = "";
            })

            $('.easyui-accordion li a').click(function () {
                $('.easyui-accordion li div').removeClass("selected");
                $(this).parent().addClass("selected");
            }).hover(function () {
                $(this).parent().addClass("hover");
            }, function () {
                $(this).parent().removeClass("hover");
            });

            $('.easyui-accordion').accordion();
        })
    </script>
    <style type="text/css">
        .products{
            overflow:auto;
            height:100%;
            background:#fafafa;
        }
        .products ul{
            list-style:none;
            margin:0;
            padding:0px;
        }
        .products li{
            display:inline;
            float:left;
            margin:10px;
            padding:10px;
            background:#E9F1FF;
            border:1px solid #ddd;
            width:170px;
            height:220px;
            overflow:hidden;
        }
        .item{
            display:block;
            text-decoration:none;
        }
        .item img{
            width:160px;
            height:160px;
            
        }
        .item h1{
            margin:0;
            font-weight:bold;
            text-align:center;
            font-size:medium;
        }
        .item p{
            margin:0;
            font-weight:bold;
            text-align:center;
            color:#c3c3c3;
        }
    </style>

</head>
<body class="easyui-layout" style="overflow-y: hidden"  scroll="no">
    
    <div region="west" split="true" title="导航菜单" style="width:180px;" id="west">
    <div class="easyui-accordion" fit="true" border="false">
        <!--左侧菜单栏-->
    </div>
    </div>
    <div data-options="region:'center',split:true" title="应用商店" style="overflow:hidden ">
    <div id="w" class="easyui-window" title="详细信息" data-options="modal:true,closed:true,iconCls:'icon-edit',minimizable:false,maximizable:false,collapsible:false" style="width:800px;height:500px;padding:10px;">
        The window content,it contains the product information.
        </div>
        <div class="products">
        <ul>
            <li>
                <div class="item">
                    <img src="~/Content/image/products/shirt1.gif"/>
                    <div>
                        <h1>Balloon Price:$25</h1>
                        this is a test text.
                        <p>订阅人数：188<a href="#" style="float:right"><span class="icon icon-buy"></span>订购</a><a style="float:right" href="javascript:void(0)" onclick="$('#w').window('open')"><span class="icon icon-edit"></span>详细</a></p>
                    </div>
                </div>
            </li>
            <li>
                <div class="item">
                    <img src="~/Content/image/products/shirt2.gif"/>
                    <div>
                        <h1>Balloon Price:$25</h1>
                        this is a test text.
                        <p>订阅人数：188<a href="#" style="float:right"><span class="icon icon-buy"></span>订购</a><a href="javascript:void(0)" style="float:right" onclick="$('#w').window('open')"><span class="icon icon-edit"></span>详细</a></p>
                    </div>
                </div>
            </li>
            <li>
                <div class="item">
                    <img src="~/Content/image/products/shirt3.gif"/>
                    <div>
                        <h1>Balloon Price:$25</h1>
                        this is a test text.
                        <p>订阅人数：188<a href="#" style="float:right"><span class="icon icon-buy"></span>订购</a><a style="float:right" href="javascript:void(0)" onclick="$('#w').window('open')"><span class="icon icon-edit"></span>详细</a></p>
                    </div>
                </div>
            </li>
            <li>
                <div class="item">
                    <img src="~/Content/image/products/shirt4.gif"/>
                    <div>
                        <h1>Balloon Price:$25</h1>
                        this is a test text.
                        <p>订阅人数：188<a href="#" style="float:right"><span class="icon icon-buy"></span>订购</a><a style="float:right" href="javascript:void(0)" onclick="$('#w').window('open')"><span class="icon icon-edit"></span>详细</a></p>
                    </div>
                </div>
            </li>
            <li>
                <div class="item">
                    <img src="~/Content/image/products/shirt5.gif"/>
                    <div>
                        <h1>Balloon Price:$25</h1>
                        this is a test text.
                        <p>订阅人数：188<a href="#" style="float:right"><span class="icon icon-buy"></span>订购</a><a style="float:right" href="javascript:void(0)" onclick="$('#w').window('open')"><span class="icon icon-edit"></span>详细</a></p>
                    </div>
                </div>
            </li>
            <li>
                <div class="item">
                    <img src="~/Content/image/products/shirt5.gif"/>
                    <div>
                        <h1>Balloon Price:$25</h1>
                        this is a test text.
                        <p>订阅人数：188<a href="#" style="float:right"><span class="icon icon-buy"></span>订购</a><a style="float:right" href="javascript:void(0)" onclick="$('#w').window('open')"><span class="icon icon-edit"></span>详细</a></p>
                    </div>
                </div>
            </li>
            <li>
                <div class="item">
                    <img src="~/Content/image/products/shirt5.gif"/>
                    <div>
                        <h1>Balloon Price:$25</h1>
                        this is a test text.
                        <p>订阅人数：188<a href="#" style="float:right"><span class="icon icon-buy"></span>订购</a><a style="float:right" href="javascript:void(0)" onclick="$('#w').window('open')"><span class="icon icon-edit"></span>详细</a></p>
                    </div>
                </div>
            </li>
            <li>
                <div class="item">
                    <img src="~/Content/image/products/shirt5.gif"/>
                    <div>
                        <h1>Balloon Price:$25</h1>
                        this is a test text.
                        <p>订阅人数：188<a href="#" style="float:right"><span class="icon icon-buy"></span>订购</a><a style="float:right" href="javascript:void(0)" onclick="$('#w').window('open')"><span class="icon icon-edit"></span>详细</a></p>
                    </div>
                </div>
            </li>
            <li>
                <div class="item">
                    <img src="~/Content/image/products/shirt5.gif"/>
                    <div>
                        <h1>Balloon Price:$25</h1>
                        this is a test text.
                        <p>订阅人数：188<a href="#" style="float:right"><span class="icon icon-buy"></span>订购</a><a style="float:right" href="javascript:void(0)" onclick="$('#w').window('open')"><span class="icon icon-edit"></span>详细</a></p>
                    </div>
                </div>
            </li>
            <li>
                <div class="item">
                    <img src="~/Content/image/products/shirt5.gif"/>
                    <div>
                        <h1>Balloon Price:$25</h1>
                        this is a test text.
                        <p>订阅人数：188<a href="#" style="float:right"><span class="icon icon-buy"></span>订购</a><a style="float:right" href="javascript:void(0)" onclick="$('#w').window('open')"><span class="icon icon-edit"></span>详细</a></p>
                    </div>
                </div>
            </li>
        </ul>
        <div class="easyui-pagination" style="border:1px solid #ddd;" data-options="
                total: 114,
                layout:['list','sep','first','prev','links','next','last','sep','refresh']
            "></div>
        </div>
    </div>
</body>
</html>
