@{
    Layout = null;
}

@using MvcOSGi.Shell.Models;

<!DOCTYPE html>

<html>
<head>
    <title>企业应用云平台</title>
    <link href="~/Content/themes/default/easyui.css" rel="stylesheet" />
    <link href="~/Content/themes/icon.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.8.0.min.js"></script>
    <script src="~/Scripts/jquery.easyui.min.js"></script>
    <style type="text/css">
        .createtable td {
            width:30%;
            text-align:right;
        }
        .createtable th {
            width:70%;
            text-align:left;
        }
    </style>
    <script type="text/ecmascript">
        function checkName() {
            var error = document.getElementById("Name_err")
            var targ = document.getElementsByName("Enterprise_Name")
            if (targ[0].value.length <= 0) {
                error.innerHTML = "*企业名称不能为空";
                return false
            }
            else {
                error.innerHTML = "";
                return true;
            }
        }
        function checkPas() {
            var error = document.getElementById("Pas_err")
            var targ = document.getElementsByName("Enterprise_Pas")
            if (targ[0].value.length <= 0) {
                error.innerHTML = "*企业密码不能为空";
                return false
            }
            else {
                error.innerHTML = "";
                return true;
            }
        }
        function checkPas2() {
            var error = document.getElementById("Pas2_err");
            var targ1 = document.getElementsByName("Enterprise_Pas");
            var targ2=document.getElementsByName("Enterprise_Pas2")
            if (targ1[0].value!= targ2[0].value) {
                error.innerHTML = "*两次输入密码不一致";
                return false
            }
            else {
                error.innerHTML = "";
                return true;
            }
        }
        function checkEmail() {
            var error = document.getElementById("Email_err");
            var targ = document.getElementsByName("Enterprise_Email");
            @*var emailreg =/^([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+@([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+\.[a-zA-Z]{2,3}$/;*@
            if (targ[0].value.length <= 0) {
                error.innerHTML = "*企业邮箱不能为空";
                return false
            }
            //else if (!emailreg.test(targ[0].value)) {

            //    error.innerHTML = "*请输入有效的企业邮箱";
            //    return false;
            //}
            else {
                error.innerHTML = "";
                return true;
            }
        }
        function Validate() {
            var name = checkName();
            var pas = checkPas();
            var pas2 = checkPas2();
            var email = checkEmail();
            if (name && pas & pas2 & email) {
                return true;
            }
            else
                return false;
        }
    </script>
</head>
<body class="easyui-layout">
	<div data-options="region:'north'" style="overflow: hidden; height: 70px">
        <span style="padding-left:10px; font-size: 16px; "><img src="~/Content/Image/logohead.png" /></span>
    </div>
	<div  data-options="region:'center'">
        <div id="maintabs" class="easyui-tabs" data-options="tabWidth:112,fit:true" style="overflow:hidden" >
            <div title="企业用户注册" style="padding:10px;border:hidden;">
                <div class="easyui-layout" >
                <div data-options="region:'east'" style="width:200px;padding:10px;"></div>
                <div data-options="region:'west'" style="padding:10px;width:200px"></div>
                <div data-options="region:'center'" title="填写企业用户基本信息" style="padding:10px;">
	                <form  id="ff" method="post">
	    	            <table class="createtable" style="width:100%">
	    		        <tr>
	    			    <td>企业名称：</td>
	    			    <th><input type="text" name="Enterprise_Name"></input>
                            <span id="Name_err" style="color:red;font-size:13px"></span></p>
	    			    </th>
	    		        </tr>
	    		        <tr>
	    			    <td>企业密码：</td>
	    			    <th><input type="password" name="Enterprise_Pas"></input>
                            <span id="Pas_err" style="color:red;font-size:13px"></span>
	    			    </th>
	    		        </tr>
                        <tr>
	    			    <td>企业密码确认：</td>
	    			    <th><input type="password" name="Enterprise_Pas2"></input>
                            <span id="Pas2_err" style="color:red;font-size:13px"></span>
	    			    </th>
	    		        </tr>
                        <tr>
	    			    <td>企业工商代码：</td>
	    			    <th><input type="text" name="Enterprise_Code"></input></th>
	    		        </tr>
                        <tr>
	    			    <td>企业联系邮箱：</td>
	    			    <th><input type="text" name="Enterprise_Email"></input>
                            <span id="Email_err" style="color:red;font-size:13px"></span>
	    			    </th>
	    		        </tr>
                        <tr>
                        <td>
                            <button id="submit" type="submit" onclick="return Validate()">确认</button>
                        </td>
                        <th>
                            <button id="reset" type="reset">清空</button>
                        </th>
                        </tr>
	    	            </table>
	                </form>
	            </div>
                
                
                </div>
            </div>
        </div>
	</div>
</body>
</html>
