@{
    ViewBag.Title = "企业应用云平台";
}

@*<h2>@ViewBag.Enterprise_ID 登录成功</h2>*@
<!DOCTYPE html>

<html>
<head>
    <title>企业应用云平台</title>
    <link href="~/Content/themes/default/easyui.css" rel="stylesheet" />
    <link href="~/Content/themes/icon.css" rel="stylesheet" />
    @Scripts.Render("~/Scripts/jquery-1.8.0.min.js")
    @Scripts.Render("~/Scripts/jquery.easyui.min.js")
    <script>
        function create(url, btn) {
            var tit = btn.value;
            if (!$('#maintabs').tabs('exists', tit)) {
                $('#maintabs').tabs('add', {
                    title: tit,
                    content: '<iframe scrolling="no" frameborder="0"  src="' + url + '" style="width:100%;height:100%;"></iframe>',
                    closable: true
                })
            } else {
                $('#maintabs').tabs('select', tit);
            }
        }
    </script>
</head>
<body class="easyui-layout">
	<div data-options="region:'north'" style="overflow: hidden; height: 70px">
        <p style="float:right; margin-right:20px;padding:10px;font-size:18px;margin-top:30px;font-family:'Microsoft YaHei UI'">
           <span>欢迎<span>@ViewBag.UserName</span></span>
            <a href="javascript:void(0)" id="editpass" onclick="$('#dlg').dialog('open')" style="font-size:14px">修改密码</a>
            <a href="/Account/Logout" id="loginOut" style="font-size:14px">安全退出</a>
        </p>
        <span style="padding-left:10px; font-size: 16px; "><img src="~/Content/Image/logohead.png" /></span>
    </div>
	
	<div  data-options="region:'center',fit:true">
        <div id="maintabs" class="easyui-tabs" data-options="tabWidth:112,fit:true" style="overflow:hidden" >
            <div title="平台首页" style="padding:10px;border:hidden">
                <div style="float:left;margin-left:40px"> 
                    
                         <div id="AppList" class="easyui-panel" title="我的应用"  data-options="collapsible:true" style="width:600px;height:500px;padding:10px">
                        <input type="button" onclick="create('SystemManager', this)" value="系统管理"/>
                        <input type="button" onclick="create('/AppStore/Index?plugin=AppManagerPlugin', this)" value="应用商店"/>
                        <input type="button" onclick="create('http://jeasyui.com/', this)" value="EasyUI"/>
                         </div>
                </div>
                <div style="float:right;margin-right:40px">
                    <div>
                         <div id="TodoList" class="easyui-panel" title="我的任务" data-options="collapsible:true" style="width:600px;height:240px;padding:10px">
                         </div>
                    </div>
                 <div style="margin-top:20px">
                     <div id="SystemMessage" class="easyui-panel" title="系统公告" data-options="collapsible:true" style="width:600px;height:240px;padding:10px" >
                     </div>
                 </div>
               </div>
            </div>
        </div>
	</div>
</body>

</html>